<title>Juegos</title
<div class="container">
      <div class="page-header">
          <center><h1>Juegos</h1> </center>     
      </div>
       
                 
                  <div class="CajaInicio animated bounceInRight">
                          <h1>Elija alguno de la lista:</h1>
                      
                          <form id="FormIngreso">
                                      
                                      <button ng-click="irAdivina1()" class="list-group-item  list-group-item list-group-item-info">
                                        <h4 class="list-group-item-heading">Adivina el Numero 1</h4>
                                      </button>
                                      
                                      <button ng-click="irAdivina2()" class="list-group-item  list-group-item list-group-item-info">
                                        <h4 class="list-group-item-heading">Adivina el Numero 2</h4>
                                      </button>

                                      <button ng-click="irPPT()" class="list-group-item  list-group-item list-group-item-info">
                                        <h4 class="list-group-item-heading">Piedra Papel o Tijera</h4>
                                      </button>
                                  
                                    </div>
                                  
                          </form>
                      </div>
                      

      </div>